.test{
    /* Click on the color box to pick a color then copy paste the shit below to apply the color */
    color: rgb(7, 7, 44); /* <--- Copy Paste this shit */
    color: rgb(221, 133, 32);
    color: rgb(255, 0, 0);
    color: rgb(151, 71, 71);
    color: rgb(211, 143, 17);
}